#overview-table {
    border-radius: 20px;
    overflow: hidden;
    width: auto;
}

#overview-table table {
    margin-bottom: 0;
}

#DiagnosticsView {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.chart-container {
    width: 100%;
    height: 60vh;
    margin-right: 20px;
    background-color: #f9f9f9;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 30px;
    position: relative;
}

#DiagnosticsView-tabs .nav-link {
    border-radius: 4px;
}

.time-interval-dropdown {
    position: absolute;
    top: -60px;
    right: 0px;
    z-index: 1;
    border: none;
}


