#overview-table {
    border-radius: 20px;
    overflow: hidden;
    width: 50%;
}

#overview-table table {
    /* Remove default bottom spacing that tables or responsive wrappers sometimes add */
    margin-bottom: 0;
}

#DiagnosticsView {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.chart-container {
    width: 100%;
    height: 60vh;
    margin-right: 20px;
    background-color: #f9f9f9;
    padding-bottom: 30px;
    position: relative;
}

#DiagnosticsView-tabs .nav-link {
    border-radius: 4px;
}

.time-interval-dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border: none;
}
.time-interval-dropdown .btn {
    color: #ffffff;
}

#overview-dropdown{
    position: static !important;
    z-index: 9999 !important;
    border: none;
}

#overview-dropdown .btn {
    color: #ffffff;
}
