#manage-tabs {
    background-color: #011425;
}

#manage-tabs .nav-link {
    color: #ffffff;
}

#manage-tabs .nav-link.active {
    background-color: #1F4959;
    color: #ffffff;
    font-weight: bold;
}

#manage-companies-accordion{
    margin: 20px;
    width: 50%;
    border-radius: 50px;
    overflow: hidden;
}

#manage-regions-listgroup{
    margin: 20px;
    width: 50%;
    border-radius: 50px;
    overflow: hidden;
}