#regions-tabs {
    background-color: #011425;
    
}

#regions-tabs .nav-link {
    color: #ffffff;
}

#regions-tabs .nav-link.active {
    background-color: #1F4959;
    color: #ffffff;
    font-weight: bold;
}

.flex-column .nav-link{
    background-color: #011425;
    color: #ffffff
}

.flex-column .nav-link.active {
    background-color: #1F4959;
    color: #ffffff;
    font-weight: bold;
}
.Server-Column {
    padding-top: 20px;
    max-width: 33.333%;
}

.Company-List-Column {
    padding-top: 20px;
    border-radius: 2px;
    text-align: left;
}

.Company-List-Item {
    border-radius: 2px;
    text-align: left;
}

.Company-List-Link {
    border-radius: 2px;
    text-align: left;
    display: block;
    width: 100%;
}