
#regions-tabs .nav-link.active {
    font-weight: bold;
}

.flex-column .nav-link{
    border-radius: 4px;
    margin-bottom: 3px;
}

.flex-column .nav-link.active {
    font-weight: bold;
    width: calc(100% + 6px);
    margin-left: -3px;
}

.Server-Column {
    padding-top: 20px;
    max-width: 33.333%;
}

.Company-List-Column {
    padding-top: 20px;
    border-radius: 2px;
    text-align: left;
}

.Company-List-Item {
    border-radius: 2px;
    text-align: left;
}

.Company-List-Link {
    border-radius: 2px;
    text-align: left;
    display: block;
    width: 100%;
}