
.App {
    background-color: #9ED3E8; 
}

:root {
    background-color: #5C7C89; 
}



#main-navbar {
    background-color: #011425; 
}

#main-navbar .navbar-brand,
#main-navbar .nav-link {
    color: #ffffff; 
}

#main-navbar .nav-link:hover {
    color: #ffffff; 
    opacity: 0.9; 
}



#regions-tabs {
    background-color: #011425; 
}

#regions-tabs .nav-link {
    color: #ffffff; 
}

#regions-tabs .nav-link.active {
    background-color: #1F4959; 
    color: #ffffff; 
}



#manage-tabs {
    background-color: #011425; 
}

#manage-tabs .nav-link {
    color: #ffffff; 
}

#manage-tabs .nav-link.active {
    background-color: #1F4959; 
    color: #ffffff; 
    font-weight: bold; 
}



.flex-column .nav-link{
    background-color: #011425; 
    color: #ffffff; 
}

.flex-column .nav-link.active {
    background-color: #1F4959; 
    color: #ffffff; 
}



.error-dropdown .btn {
    color: #ffffff; 
}

.time-interval-dropdown .btn {
    color: #ffffff; 
}
