
#root {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}



.App {
    width: 100%;
    min-height: 60vh;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
}


.full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.fixed-status {
    min-width: 45px; 
    width: 45px; 
    text-align: right;
    flex-shrink: 0; 
    white-space: nowrap; 
}

.Container-Name-Container {
    width: 100%;
    text-align: left;
}

.Server-Header {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 10px;
}


