#root {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #213547;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.fixed-status {
  min-width: 45px;      /* minimum width so content fits */
  width: 45px;          /* optional: make it fixed exactly 45px */
  text-align: right;
  flex-shrink: 0;       /* prevents it from shrinking in a flex row */
  white-space: nowrap;  /* avoid wrapping if the text is long */
}

.Container-Name-Container {
  width: 250px;
  text-align: left;
}

.Server-Column {
    padding-top: 20px;
    max-width: 33.333%;
}

.Company-List-Column {
    padding-top: 20px;
    border-radius: 2px;
    text-align: left;
}

.Company-List-Item {
    border-radius: 2px;
    text-align: left;
}

.Company-List-Link {
    border-radius: 2px;
    text-align: left;
    display: block;
    width: 100%;
}
