#root {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #213547;
}


.fixed-status {
  min-width: 45px;      /* minimum width so content fits */
  width: 45px;          /* optional: make it fixed exactly 45px */
  text-align: right;
  flex-shrink: 0;       /* prevents it from shrinking in a flex row */
  white-space: nowrap;  /* avoid wrapping if the text is long */
}

.Container-Name-Container {
  width: 250px;
  text-align: left;
}

.Server-Header {
    background-color: rgb(129, 179, 223);
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 10px;

}

.Server-Column {
    padding-top: 20px;
    max-width: 33.333%;
}

.Company-List-Column {
    padding-top: 20px;
    border-radius: 2px;
    text-align: left;
}

.Company-List-Item {
    border-radius: 2px;
    text-align: left;
}

.Company-List-Link {
    border-radius: 2px;
    text-align: left;
    display: block;
    width: 100%;
}
