:root { /* Background */
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: rgba(121, 121, 121, 0.87); /* Background color of the webpage */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    background-color: transparent;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    button {
        background-color: #f9f9f9;
    }
}

.App {
    width: 100%;
    min-height: 60vh;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    background-color: #c9c9c9;
}

.Body {
    padding-left: 10px;
    padding-right: 20px;
}

.regions-accordion {
    width: 80%;
    text-align: left;
}

.regions {
    padding: 1.5rem 0;
    width: 80%;
}

.lg1 {
    
}

.vr {
    width: 2px;
    color: #000;
}

html {
  /* filter: grayscale(100%); */
}